<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Ironiq</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.323802514528-f5inc1l6a4sgt7r067is6v8gghmc5aji</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>71</string>
	<key>GoogleOAuthClientID</key>
	<string>323802514528-f5inc1l6a4sgt7r067is6v8gghmc5aji.apps.googleusercontent.com</string>
	<key>GoogleOAuthReversedClientID</key>
	<string>com.googleusercontent.apps.323802514528-f5inc1l6a4sgt7r067is6v8gghmc5aji</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSHealthShareUsageDescription</key>
	<string>Ironiq reads your heart rate to enhance workout tracking.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Ironiq saves your workouts to Apple Health.</string>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.com.ir0niq.app</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>Ironiq</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>AccentColor</string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
